body {
    background: orange;
}

h2 {
    font-size: x-large;
    font-style: oblique;
    font-stretch: wider;
    color: blueviolet;
}

h3 {
    font-size: large;
    color: rgb(226, 43, 104);
    font-size: x-large;
    font-weight: bolder;
    font-kerning: inherit;
}